<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article.published? %>
  <% form_action[:action] = 'merge' %>
  <%= form_tag(form_action, method: :put) do %>

    <div class=''>
      <h4>Merge Article</h4>
      <label>Article ID: <%= text_field_tag 'merge_with' %></label>
      <input type='submit' value='Merge'/>
    </div>

  <% end %>
<% end %>
